In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# from sklearn.datasets import load_iris
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler, LabelEncoder
# from sklearn.metrics import accuracy_score

# import tensorflow as tf
# from tensorflow.keras.models import Sequential, Model, load_model 
# from tensorflow.keras.layers import Dense, Flatten, Input, concatenate, Conv2D, MaxPool2D, Dropout, GlobalAveragePooling2D
# from tensorflow.keras.optimizers import SGD, Adam, RMSprop
# from tensorflow.keras.utils import to_categorical

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
import time
import pyperclip

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [2]:
# íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
result=pd.read_csv("data/ì¹˜í‚¨_R01.csv")
result

,Category,ID,Contents,Tags,Tags_sum,Tags_count,Tags_rate,Likes,Scaled_likes
0,ì¹˜í‚¨,z.e.o.m,ë‘¥ê·¼í•´ ëŒ€ì‹ ì˜¬í•´ëŠ” ë™ê·¼ í•´ê°€ ë–´ìŠµë‹ˆë‹¤ ìš°ë™ì‚¬ë¦¬ì— ì¹˜ë°¥ê¹Œì§€ ì¹˜í‚¨ìœ¼ë¡œ í’€ì½”ìŠ¤ ì¦ê¸°...,"#ë™ê·¼ì´ìˆ¯ë¶ˆë‘ë§ˆë¦¬ì¹˜í‚¨, #ë™ê·¼ì´ìˆ¯ë¶ˆë‘ë§ˆë¦¬ì¹˜í‚¨, #ì¹˜í‚¨, #ì¹˜í‚¨ë§›ì§‘, #ë°°ë‹¬ì¹˜í‚¨, #...",11,12,109.09,1040,0.175646
1,ì¹˜í‚¨,foodgangster_fgg,í˜‘ì°¬ ë–¡ë³¶ì´ì— íƒ€í”¼ì˜¤ì¹´ í„ ìŸì€ ì¤„ ì•Œì•˜ë‹¤ ë²„ë¸”í‹°ê°™ì€ ë–¡ë³¶ì´ë‹¤ ë§¥ì£¼ë¥¼ ë¶€ë¥´ëŠ”...,"#ì¹˜í‚¨ë§¤ë‹ˆì•„, #í‘¸ë“œê°±_ë°°ë‹¬, #ë°°ë‹¬ë§›ì§‘, #ì¹˜í‚¨ë§›ì§‘, #ë–¡ë³¶ì´ë§›ì§‘, #ë°°ë‹¬ìŒì‹ì¶”ì²œ...",9,8,88.89,109,0.018409
2,ì¹˜í‚¨,bboong_bbang_2,ë¼ì§€ ì‚¬ë£Œ ì¼ì§€ 506 ì§€ì½”ë°” ì„±ì •ì ë¿¡ë¹µì“°ê°€ ìŠ¤íŠ¸ë ˆìŠ¤ ë°›ìœ¼ë©´ ì£¼ê¸°ì ìˆ˜í˜ˆí•˜ëŠ” ...,,0,0,0.00,109,0.018409
3,ì¹˜í‚¨,dhrkspths,ì–¼ë§ˆë‚˜ ë§›ìˆì—ˆìœ¼ë©´ í¬ì¥ê¹Œì§€ã„·ã„·ã„· ë²”ë§¥ì£¼ ì„,,0,0,0.00,9,0.001520
4,ì¹˜í‚¨,a_a_bl0s2om,ë…¸ë‘í†µë‹­ã†ã†ã† ëŒ€êµ¬ë§›ì§‘ ë¨¹ë°© instafood ìš”ë¦¬ìŠ¤íƒ€ê·¸ë¨ ìš”ë¦¬ ë§›ìŠ¤íƒ€...,"#ëŒ€êµ¬ë§›ì§‘, #ë¨¹ë°©, #instafood, #ìš”ë¦¬ìŠ¤íƒ€ê·¸ë¨, #ìš”ë¦¬, #ë§›ìŠ¤íƒ€ê·¸ë¨, ...",28,6,21.43,19,0.003209
...,...,...,...,...,...,...,...,...,...
1995,ì¹˜í‚¨,lee_hk79,ë…¼ì–´ ê³µë¶€ê°€ë˜ëŠ”ë…¼ì–´ì´ì•¼ê¸° ë°©í•™ë…ì„œ ì±…ì½ê¸°ìŠµê´€ ì±…ìŠ¤íƒ€ê·¸ë¨ ì±…ì¶”ì²œ ì•„ì´ë“¤ê³¼í•¨ê»˜...,"#ë…¼ì–´, #ê³µë¶€ê°€ë˜ëŠ”ë…¼ì–´ì´ì•¼ê¸°, #ë°©í•™ë…ì„œ, #ì±…ì½ê¸°ìŠµê´€, #ì±…ìŠ¤íƒ€ê·¸ë¨, #ì±…ì¶”ì²œ,...",29,4,13.79,41,0.006925
1996,ì¹˜í‚¨,stomach_endoscope,ì–´ë–»ê²Œ ë¼ë©´ì— ì£¼ë¨¹ë°¥ì´ íŒ”ì²œì›,,0,0,0.00,74,0.012498
1997,ì¹˜í‚¨,nolgoo,ì˜¤ëŠ˜ ë¨¹ì€ê±°ì†¥ë°¥ ë„˜ ë§›ë‚¬ë‹¹ìœ¤ì„ ë¹µê³¼ í•¨ê»˜ ì»¤í”ŒìŠ¤íƒ€ê·¸ë¨ ëŸ½ìŠ¤íƒ€ê·¸ë¨ ë¨¹ìŠ¤íƒ€ê·¸ë¨ ...,"#ì»¤í”ŒìŠ¤íƒ€ê·¸ë¨, #ëŸ½ìŠ¤íƒ€ê·¸ë¨, #ë¨¹ìŠ¤íƒ€ê·¸ë¨, #ì†¥ë°¥, #ë„ë¯¸ê´€ìì†¥ë°¥, #ì „ë³µì†¥ë°¥, ...",25,2,8.00,21,0.003547
1998,ì¹˜í‚¨,kimtaelee_092,ì—„ë§ˆë„ ì™¸ì¶œë‚˜ê°€ê³ ë™ìƒë„ ì¹­êµ¬ì§‘ ê°€ì„œ ë‚˜ í˜¼ì í˜¼ ì¹˜ ì¡°ì§€ê¸° ë¹ ì‚­ë¹ ì‚­ ì˜ íŠ€ê²¨ì¡Œ...,"#í˜¼ì¹˜í‚¨ğŸ—, #í˜¼ë°¥, #ì¹˜í‚¨ë§¤ë‹ˆì•„, #ë¨¹ëŠ”ê±°ì—ì§„ì‹¬ì¸í¸, #ì¡´ë§›íƒ±êµ¬ë¦¬, #ì¹˜í‚¨, #ì‚¬...",9,4,44.44,11,0.001858
1999,ì¹˜í‚¨,cheolin7_cw,ê³¨ë¼ì„œ ë¨¹ì„ìˆ˜ìˆëŠ” ì¬ë¯¸ ì² ì¸3ì¢…ì„¸íŠ¸ ìˆœì‚´ ì–‘ë… ê°„ì¥ í™ê°ˆ,,0,0,0.00,15,0.002533

In [3]:
# ì¤‘ë³µ ì•„ì´ë”” ì œê±°
user = result["ID"].unique()
user

array(['z.e.o.m', 'foodgangster_fgg', 'bboong_bbang_2', ...,
       'stomach_endoscope', 'nolgoo', 'kimtaelee_092'], dtype=object)

In [4]:
result_user = pd.DataFrame(user)
result_user

                      0
0               z.e.o.m
1      foodgangster_fgg
2        bboong_bbang_2
3             dhrkspths
4           a_a_bl0s2om
...                 ...
1742     hongyoungjoo87
1743             m.m_zl
1744  stomach_endoscope
1745             nolgoo
1746      kimtaelee_092

[1747 rows x 1 columns]

In [5]:
result_user.columns = ["ID"]
result_user

                     ID
0               z.e.o.m
1      foodgangster_fgg
2        bboong_bbang_2
3             dhrkspths
4           a_a_bl0s2om
...                 ...
1742     hongyoungjoo87
1743             m.m_zl
1744  stomach_endoscope
1745             nolgoo
1746      kimtaelee_092

[1747 rows x 1 columns]

In [6]:
result_user["ID"][20]

'food_developer_raymond10'

In [7]:
# ê³„ì • í¬ë¡¤ë§ í•´ì˜¤ê¸°

In [62]:
import time

driver = webdriver.Chrome("chromedriver")
# ì¸ìŠ¤íƒ€ê·¸ë¨ ì ‘ì†í•˜ê¸°
driver.get("http://www.instargram.com")

#ë¡œë”©í•˜ëŠ”ë° ì‹œê°„ì´ ê±¸ë¦´ ìˆ˜ ìˆìœ¼ë¯€ë¡œ 3ì´ˆê°„ ëŒ€ê¸°
time.sleep(3)

In [63]:
# ì¸ìŠ¤íƒ€ê³„ì •ìœ¼ë¡œ ë¡œê·¸ì¸

# id, pass ì…ë ¥
driver.find_element(By.NAME, "username").send_keys("pmh3418")
driver.find_element(By.NAME, "password").send_keys("audgns12!@")

driver.find_element(By.XPATH, "//*[@id='loginForm']/div/div[3]/button/div").click()

In [64]:
# (íŒì—…ì²˜ë¦¬) ë¡œê·¸ì¸ ì •ë³´ ì €ì¥
driver.find_element(By.CLASS_NAME, "_ac8f").click()

In [65]:
# (íŒì—…ì²˜ë¦¬) ì•Œë¦¼ ì„¤ì •
driver.find_element(By.XPATH, "/html/body/div[2]/div/div/div/div[2]/div/div/div[1]/div/div[2]/div/div/div/div/div[2]/div/div/div[3]/button[2]").click()

In [66]:
def searching(user_id):
    url = 'https://www.instagram.com/'+user_id
    return url

In [67]:
user_id = 'z.e.o.m'
url = searching(user_id)
driver.get(url)

In [68]:
import re
from bs4 import BeautifulSoup

def get_user(driver):

    # 1. í˜„ì¬ ê²Œì‹œê¸€ html ì •ë³´ ê°€ì ¸ì˜¤ê¸°
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    
    # 2. ê²Œì‹œë¬¼
    num_content = soup.select('span._ac2a')[0].text
    time.sleep(2)
    # 3. íŒ”ë¡œì›Œ
    follower = soup.select('span._ac2a')[1].text 
    time.sleep(2)

    # 4. ì €ì¥í•˜ê¸°
    data = [num_content, follower]
    return data

get_user(driver)

['236', '8625']

In [69]:
from tqdm.notebook import tqdm
import random

result = [ ]
for n in tqdm(range(1601,1747)):  
    try:
        name = result_user.iloc[n][0]
        url = searching(name)
        time.sleep(3)
        driver.get(url)
        time.sleep(5)
        
        #ì‚¬ëŒì²˜ëŸ¼ í–‰ë™ randomí•˜ê²Œ ìŠ¤í¬ë¡¤ ì‘ë™
        ran_cnt = random.randint(1,5)
        ran_length = random.choice(np.arange(100,200,100))
        for count in range(0,ran_cnt):
            driver.execute_script(f"window.scrollTo(0, {ran_length})")
            ran_length *= 2
            
        time.sleep(3)
        
        data = get_user(driver)
        result.append(data)
        time.sleep(5)
        
    except:
        data = ['0','0']
        result.append(data)
        
        #ì‚¬ëŒì²˜ëŸ¼ í–‰ë™ randomí•˜ê²Œ ìŠ¤í¬ë¡¤ ì‘ë™
        ran_cnt = random.randint(1,5)
        ran_length = random.choice(np.arange(100,200,100))
        for count in range(0,ran_cnt):
            driver.execute_script(f"window.scrollTo(0, {ran_length})")
            ran_length *= 2
        time.sleep(3)

  0%|          | 0/146 [00:00<?, ?it/s]

In [70]:
result_user_info = pd.DataFrame(result, columns=["Post_num", "Followers"])
result_user_info

    Post_num Followers
0          2       341
1          7       183
2       1.3ë§Œ      5403
3        257        68
4        145       492
..       ...       ...
141      926        81
142       12        65
143     3949      1322
144      831       212
145       39        41

[146 rows x 2 columns]

In [71]:
result_user_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Post_num   146 non-null    object
 1   Followers  146 non-null    object
dtypes: object(2)
memory usage: 2.4+ KB

In [21]:
result_user_info.iloc[22]

Post_num     0
Followers    0
Name: 22, dtype: object

In [22]:
result_user_info = result_user_info.iloc[:22]
result_user_info

   Post_num Followers
0       382        95
1       525       638
2       558        59
3        58       405
4       182      1448
5       178       271
6      1.5ë§Œ      1027
7      1275       954
8       325       957
9        80       407
10      362       199
11      464       467
12       81      1019
13      254      1014
14      676       981
15      203       519
16       84       238
17       77        23
18      498      4396
19      677       351
20      473       174
21       34        33

In [72]:
# ì €ì¥
result_user_info.to_csv("data/ì¹˜í‚¨ê³„ì •_18.csv", encoding="utf-8", index=False)