In [311]:
import pandas as pd
import glob
import os
import re
input_file = r'C:\mhpark\01.PythonWork\project2\data' # csvíŒŒì¼ë“¤ì´ ìˆëŠ” ë””ë ‰í† ë¦¬ ìœ„ì¹˜
output_file = r'C:\mhpark\01.PythonWork\project2\data\ì¹˜í‚¨ê³„ì •1.csv' # ë³‘í•©í•˜ê³  ì €ì¥í•˜ë ¤ëŠ” íŒŒì¼ëª…

allFile_list = glob.glob(os.path.join(input_file, 'ì¹˜í‚¨ê³„ì •_*.csv')) # globí•¨ìˆ˜ë¡œ sales_ë¡œ ì‹œì‘í•˜ëŠ” íŒŒì¼ë“¤ì„ ëª¨ì€ë‹¤
print(allFile_list)
allData = [] # ì½ì–´ ë“¤ì¸ csvíŒŒì¼ ë‚´ìš©ì„ ì €ì¥í•  ë¹ˆ ë¦¬ìŠ¤íŠ¸ë¥¼ í•˜ë‚˜ ë§Œë“ ë‹¤
for file in allFile_list:
    df = pd.read_csv(file) # forêµ¬ë¬¸ìœ¼ë¡œ csvíŒŒì¼ë“¤ì„ ì½ì–´ ë“¤ì¸ë‹¤
    allData.append(df) # ë¹ˆ ë¦¬ìŠ¤íŠ¸ì— ì½ì–´ ë“¤ì¸ ë‚´ìš©ì„ ì¶”ê°€í•œë‹¤

dataCombine = pd.concat(allData, axis=0, ignore_index=True) # concatí•¨ìˆ˜ë¥¼ ì´ìš©í•´ì„œ ë¦¬ìŠ¤íŠ¸ì˜ ë‚´ìš©ì„ ë³‘í•©
# axis=0ì€ ìˆ˜ì§ìœ¼ë¡œ ë³‘í•©í•¨. axis=1ì€ ìˆ˜í‰. ignore_index=TrueëŠ” ì¸ë°ìŠ¤ ê°’ì´ ê¸°ì¡´ ìˆœì„œë¥¼ ë¬´ì‹œí•˜ê³  ìˆœì„œëŒ€ë¡œ ì •ë ¬ë˜ë„ë¡ í•œë‹¤.
dataCombine.to_csv(output_file, index=False) # to_csví•¨ìˆ˜ë¡œ ì €ì¥í•œë‹¤. ì¸ë±ìŠ¤ë¥¼ ë¹¼ë ¤ë©´ Falseë¡œ ì„¤ì •

['C:\\mhpark\\01.PythonWork\\project2\\data\\ì¹˜í‚¨ê³„ì •_01.csv', 'C:\\mhpark\\01.PythonWork\\project2\\data\\ì¹˜í‚¨ê³„ì •_02.csv', 'C:\\mhpark\\01.PythonWork\\project2\\data\\ì¹˜í‚¨ê³„ì •_03.csv', 'C:\\mhpark\\01.PythonWork\\project2\\data\\ì¹˜í‚¨ê³„ì •_04.csv', 'C:\\mhpark\\01.PythonWork\\project2\\data\\ì¹˜í‚¨ê³„ì •_05.csv', 'C:\\mhpark\\01.PythonWork\\project2\\data\\ì¹˜í‚¨ê³„ì •_06.csv', 'C:\\mhpark\\01.PythonWork\\project2\\data\\ì¹˜í‚¨ê³„ì •_07.csv', 'C:\\mhpark\\01.PythonWork\\project2\\data\\ì¹˜í‚¨ê³„ì •_08.csv', 'C:\\mhpark\\01.PythonWork\\project2\\data\\ì¹˜í‚¨ê³„ì •_09.csv', 'C:\\mhpark\\01.PythonWork\\project2\\data\\ì¹˜í‚¨ê³„ì •_10.csv', 'C:\\mhpark\\01.PythonWork\\project2\\data\\ì¹˜í‚¨ê³„ì •_11.csv', 'C:\\mhpark\\01.PythonWork\\project2\\data\\ì¹˜í‚¨ê³„ì •_12.csv', 'C:\\mhpark\\01.PythonWork\\project2\\data\\ì¹˜í‚¨ê³„ì •_13.csv', 'C:\\mhpark\\01.PythonWork\\project2\\data\\ì¹˜í‚¨ê³„ì •_14.csv', 'C:\\mhpark\\01.PythonWork\\project2\\data\\ì¹˜í‚¨ê³„ì •_15.csv', 'C:\\mhpark\\01.PythonWork\\project2\\data\\ì¹˜í‚¨ê³„ì •_16.csv', 'C:\\mhpark\\01.PythonWork\\project2\\data\\ì¹˜í‚¨ê³„ì •_17.csv', 'C:\\mhpark\\01.PythonWork\\project2\\data\\ì¹˜í‚¨ê³„ì •_18.csv']

In [312]:
# ë¶ˆëŸ¬ì˜¤ê¸°
result = pd.read_csv("data/ì¹˜í‚¨ê³„ì •1.csv", error_bad_lines=False)

C:\Users\mhpark\AppData\Local\Temp\ipykernel_2796\4282186554.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  result = pd.read_csv("data/ì¹˜í‚¨ê³„ì •1.csv", error_bad_lines=False)

In [313]:
result

     Post_num Followers
0         236      8603
1         128      3360
2         741      6928
3        2178      2.7ë§Œ
4         606      1020
...       ...       ...
1742      926        81
1743       12        65
1744     3949      1322
1745      831       212
1746       39        41

[1747 rows x 2 columns]

In [314]:
# íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
result1=pd.read_csv("data/ì¹˜í‚¨_R01.csv")
result1

,Category,ID,Contents,Tags,Tags_sum,Tags_count,Tags_rate,Likes,Scaled_likes
0,ì¹˜í‚¨,z.e.o.m,ë‘¥ê·¼í•´ ëŒ€ì‹ ì˜¬í•´ëŠ” ë™ê·¼ í•´ê°€ ë–´ìŠµë‹ˆë‹¤ ìš°ë™ì‚¬ë¦¬ì— ì¹˜ë°¥ê¹Œì§€ ì¹˜í‚¨ìœ¼ë¡œ í’€ì½”ìŠ¤ ì¦ê¸°...,"#ë™ê·¼ì´ìˆ¯ë¶ˆë‘ë§ˆë¦¬ì¹˜í‚¨, #ë™ê·¼ì´ìˆ¯ë¶ˆë‘ë§ˆë¦¬ì¹˜í‚¨, #ì¹˜í‚¨, #ì¹˜í‚¨ë§›ì§‘, #ë°°ë‹¬ì¹˜í‚¨, #...",11,12,109.09,1040,0.175646
1,ì¹˜í‚¨,foodgangster_fgg,í˜‘ì°¬ ë–¡ë³¶ì´ì— íƒ€í”¼ì˜¤ì¹´ í„ ìŸì€ ì¤„ ì•Œì•˜ë‹¤ ë²„ë¸”í‹°ê°™ì€ ë–¡ë³¶ì´ë‹¤ ë§¥ì£¼ë¥¼ ë¶€ë¥´ëŠ”...,"#ì¹˜í‚¨ë§¤ë‹ˆì•„, #í‘¸ë“œê°±_ë°°ë‹¬, #ë°°ë‹¬ë§›ì§‘, #ì¹˜í‚¨ë§›ì§‘, #ë–¡ë³¶ì´ë§›ì§‘, #ë°°ë‹¬ìŒì‹ì¶”ì²œ...",9,8,88.89,109,0.018409
2,ì¹˜í‚¨,bboong_bbang_2,ë¼ì§€ ì‚¬ë£Œ ì¼ì§€ 506 ì§€ì½”ë°” ì„±ì •ì ë¿¡ë¹µì“°ê°€ ìŠ¤íŠ¸ë ˆìŠ¤ ë°›ìœ¼ë©´ ì£¼ê¸°ì ìˆ˜í˜ˆí•˜ëŠ” ...,,0,0,0.00,109,0.018409
3,ì¹˜í‚¨,dhrkspths,ì–¼ë§ˆë‚˜ ë§›ìˆì—ˆìœ¼ë©´ í¬ì¥ê¹Œì§€ã„·ã„·ã„· ë²”ë§¥ì£¼ ì„,,0,0,0.00,9,0.001520
4,ì¹˜í‚¨,a_a_bl0s2om,ë…¸ë‘í†µë‹­ã†ã†ã† ëŒ€êµ¬ë§›ì§‘ ë¨¹ë°© instafood ìš”ë¦¬ìŠ¤íƒ€ê·¸ë¨ ìš”ë¦¬ ë§›ìŠ¤íƒ€...,"#ëŒ€êµ¬ë§›ì§‘, #ë¨¹ë°©, #instafood, #ìš”ë¦¬ìŠ¤íƒ€ê·¸ë¨, #ìš”ë¦¬, #ë§›ìŠ¤íƒ€ê·¸ë¨, ...",28,6,21.43,19,0.003209
...,...,...,...,...,...,...,...,...,...
1995,ì¹˜í‚¨,lee_hk79,ë…¼ì–´ ê³µë¶€ê°€ë˜ëŠ”ë…¼ì–´ì´ì•¼ê¸° ë°©í•™ë…ì„œ ì±…ì½ê¸°ìŠµê´€ ì±…ìŠ¤íƒ€ê·¸ë¨ ì±…ì¶”ì²œ ì•„ì´ë“¤ê³¼í•¨ê»˜...,"#ë…¼ì–´, #ê³µë¶€ê°€ë˜ëŠ”ë…¼ì–´ì´ì•¼ê¸°, #ë°©í•™ë…ì„œ, #ì±…ì½ê¸°ìŠµê´€, #ì±…ìŠ¤íƒ€ê·¸ë¨, #ì±…ì¶”ì²œ,...",29,4,13.79,41,0.006925
1996,ì¹˜í‚¨,stomach_endoscope,ì–´ë–»ê²Œ ë¼ë©´ì— ì£¼ë¨¹ë°¥ì´ íŒ”ì²œì›,,0,0,0.00,74,0.012498
1997,ì¹˜í‚¨,nolgoo,ì˜¤ëŠ˜ ë¨¹ì€ê±°ì†¥ë°¥ ë„˜ ë§›ë‚¬ë‹¹ìœ¤ì„ ë¹µê³¼ í•¨ê»˜ ì»¤í”ŒìŠ¤íƒ€ê·¸ë¨ ëŸ½ìŠ¤íƒ€ê·¸ë¨ ë¨¹ìŠ¤íƒ€ê·¸ë¨ ...,"#ì»¤í”ŒìŠ¤íƒ€ê·¸ë¨, #ëŸ½ìŠ¤íƒ€ê·¸ë¨, #ë¨¹ìŠ¤íƒ€ê·¸ë¨, #ì†¥ë°¥, #ë„ë¯¸ê´€ìì†¥ë°¥, #ì „ë³µì†¥ë°¥, ...",25,2,8.00,21,0.003547
1998,ì¹˜í‚¨,kimtaelee_092,ì—„ë§ˆë„ ì™¸ì¶œë‚˜ê°€ê³ ë™ìƒë„ ì¹­êµ¬ì§‘ ê°€ì„œ ë‚˜ í˜¼ì í˜¼ ì¹˜ ì¡°ì§€ê¸° ë¹ ì‚­ë¹ ì‚­ ì˜ íŠ€ê²¨ì¡Œ...,"#í˜¼ì¹˜í‚¨ğŸ—, #í˜¼ë°¥, #ì¹˜í‚¨ë§¤ë‹ˆì•„, #ë¨¹ëŠ”ê±°ì—ì§„ì‹¬ì¸í¸, #ì¡´ë§›íƒ±êµ¬ë¦¬, #ì¹˜í‚¨, #ì‚¬...",9,4,44.44,11,0.001858
1999,ì¹˜í‚¨,cheolin7_cw,ê³¨ë¼ì„œ ë¨¹ì„ìˆ˜ìˆëŠ” ì¬ë¯¸ ì² ì¸3ì¢…ì„¸íŠ¸ ìˆœì‚´ ì–‘ë… ê°„ì¥ í™ê°ˆ,,0,0,0.00,15,0.002533

In [315]:
# ì¤‘ë³µ ì•„ì´ë”” ì œê±°
user = result1["ID"].unique()
user

array(['z.e.o.m', 'foodgangster_fgg', 'bboong_bbang_2', ...,
       'stomach_endoscope', 'nolgoo', 'kimtaelee_092'], dtype=object)

In [316]:
result_user = pd.DataFrame(user)
result_user

                      0
0               z.e.o.m
1      foodgangster_fgg
2        bboong_bbang_2
3             dhrkspths
4           a_a_bl0s2om
...                 ...
1742     hongyoungjoo87
1743             m.m_zl
1744  stomach_endoscope
1745             nolgoo
1746      kimtaelee_092

[1747 rows x 1 columns]

In [317]:
result_user.columns = ["ID"]
result_user

                     ID
0               z.e.o.m
1      foodgangster_fgg
2        bboong_bbang_2
3             dhrkspths
4           a_a_bl0s2om
...                 ...
1742     hongyoungjoo87
1743             m.m_zl
1744  stomach_endoscope
1745             nolgoo
1746      kimtaelee_092

[1747 rows x 1 columns]

In [318]:
# ì €ì¥
result_user.to_csv("data/ì¹˜í‚¨ê³„ì •ID.csv", encoding="utf-8", index=False)

In [319]:
# íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
result_user=pd.read_csv("data/ì¹˜í‚¨ê³„ì •ID.csv")
result_user

                     ID
0               z.e.o.m
1      foodgangster_fgg
2        bboong_bbang_2
3             dhrkspths
4           a_a_bl0s2om
...                 ...
1742     hongyoungjoo87
1743             m.m_zl
1744  stomach_endoscope
1745             nolgoo
1746      kimtaelee_092

[1747 rows x 1 columns]

In [320]:
result

     Post_num Followers
0         236      8603
1         128      3360
2         741      6928
3        2178      2.7ë§Œ
4         606      1020
...       ...       ...
1742      926        81
1743       12        65
1744     3949      1322
1745      831       212
1746       39        41

[1747 rows x 2 columns]

In [321]:
result2 = pd.merge(result_user, result, how='outer', left_index=True, right_index=True)
result2

                     ID Post_num Followers
0               z.e.o.m      236      8603
1      foodgangster_fgg      128      3360
2        bboong_bbang_2      741      6928
3             dhrkspths     2178      2.7ë§Œ
4           a_a_bl0s2om      606      1020
...                 ...      ...       ...
1742     hongyoungjoo87      926        81
1743             m.m_zl       12        65
1744  stomach_endoscope     3949      1322
1745             nolgoo      831       212
1746      kimtaelee_092       39        41

[1747 rows x 3 columns]

In [340]:
result2[result2["ID"] == "hyun_zu_486"]

               ID  Post_num  Followers
1062  hyun_zu_486      50.0      214.0

In [331]:
result2["Post_num"] = result2["Post_num"].astype('float')

In [272]:
result2[["ID","Followers"]].sort_values(by=["Followers"], ascending=False)[0:20]

                    ID  Followers
790           choi_c_y     9959.0
376            7r__rin     9930.0
1388          sonathsk     9877.0
242         rtest.s001     9850.0
978         food._.go_     9691.0
303        brunchbean_     9627.0
1026      eunjeong.111     9512.0
439          maron.ela     9509.0
1160        muk.__.rim     9367.0
399   yakodak_gangdong     9286.0
917           sshwan11     8870.0
1195          zltm4867     8863.0
764         drinker100     8823.0
5       yeony_matzipsa     8787.0
339         khj2046819     8785.0
0              z.e.o.m     8603.0
525      annie.cho0223     8412.0
999         broncmusic     8393.0
771       jh_son920703     8226.0
476         iam.jmmmmm     8070.0

In [251]:
result2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1747 entries, 0 to 1746
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1747 non-null   object
 1   Post_num   1747 non-null   object
 2   Followers  1747 non-null   object
dtypes: object(3)
memory usage: 41.1+ KB

In [323]:
result2["Followers"].str.contains("ë§Œ").value_counts()

False    1667
True       80
Name: Followers, dtype: int64

In [324]:
idx = result2[result2["Followers"].str.contains("ë§Œ", na=False)].index
idx

Int64Index([   3,    6,    7,    8,  110,  126,  137,  184,  229,  231,  239,
             260,  262,  285,  297,  299,  316,  345,  372,  428,  432,  433,
             436,  442,  532,  570,  603,  607,  627,  628,  663,  666,  671,
             675,  691,  728,  743,  747,  791,  799,  810,  827,  879,  880,
             888,  946,  975, 1012, 1033, 1055, 1057, 1060, 1073, 1091, 1127,
            1156, 1193, 1277, 1371, 1373, 1378, 1389, 1429, 1434, 1436, 1437,
            1445, 1448, 1449, 1459, 1512, 1530, 1540, 1549, 1561, 1608, 1611,
            1619, 1626, 1654],
           dtype='int64')

In [145]:
a = re.sub("ë§Œ", "", result2["Followers"][246])
b = float(a)*10000

240000.0

In [325]:
for i in range(len(result2)):
    for j in idx:
        if i==j:
            a = re.sub("ë§Œ", "", result2["Followers"][j])
            result2["Followers"][j] = float(a) * 10000
result2["Followers"]

0          8603
1          3360
2          6928
3       27000.0
4          1020
         ...
1742         81
1743         65
1744       1322
1745        212
1746         41
Name: Followers, Length: 1747, dtype: object

In [326]:
result2["Post_num"].str.contains("ë§Œ").value_counts()

False    1721
True       26
Name: Post_num, dtype: int64

In [327]:
idx = result2[result2["Post_num"].str.contains("ë§Œ", na=False)].index
idx

Int64Index([ 262,  446,  494,  551,  561,  570,  628,  646,  726,  732,  824,
             827,  833,  878,  896,  920, 1033, 1139, 1210, 1235, 1397, 1407,
            1588, 1590, 1603, 1678],
           dtype='int64')

In [328]:
for i in range(len(result2)):
    for j in idx:
        if i==j:
            a = re.sub("ë§Œ", "", result2["Post_num"][j])
            result2["Post_num"][j] = float(a) * 10000
result2["Post_num"]

0        236
1        128
2        741
3       2178
4        606
        ...
1742     926
1743      12
1744    3949
1745     831
1746      39
Name: Post_num, Length: 1747, dtype: object

In [332]:
result2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1747 entries, 0 to 1746
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1747 non-null   object
 1   Post_num   1747 non-null   float64
 2   Followers  1747 non-null   float64
dtypes: float64(2), object(1)
memory usage: 41.1+ KB

In [333]:
# ì €ì¥
result2.to_csv("data/ì¹˜í‚¨(ê²Œì‹œê¸€ìˆ˜,íŒ”ë¡œì›Œìˆ˜).csv", encoding="utf-8", index=False)

In [334]:
# íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
result1=pd.read_csv("data/ì¹˜í‚¨_R01.csv")
result1

,Category,ID,Contents,Tags,Tags_sum,Tags_count,Tags_rate,Likes,Scaled_likes
0,ì¹˜í‚¨,z.e.o.m,ë‘¥ê·¼í•´ ëŒ€ì‹ ì˜¬í•´ëŠ” ë™ê·¼ í•´ê°€ ë–´ìŠµë‹ˆë‹¤ ìš°ë™ì‚¬ë¦¬ì— ì¹˜ë°¥ê¹Œì§€ ì¹˜í‚¨ìœ¼ë¡œ í’€ì½”ìŠ¤ ì¦ê¸°...,"#ë™ê·¼ì´ìˆ¯ë¶ˆë‘ë§ˆë¦¬ì¹˜í‚¨, #ë™ê·¼ì´ìˆ¯ë¶ˆë‘ë§ˆë¦¬ì¹˜í‚¨, #ì¹˜í‚¨, #ì¹˜í‚¨ë§›ì§‘, #ë°°ë‹¬ì¹˜í‚¨, #...",11,12,109.09,1040,0.175646
1,ì¹˜í‚¨,foodgangster_fgg,í˜‘ì°¬ ë–¡ë³¶ì´ì— íƒ€í”¼ì˜¤ì¹´ í„ ìŸì€ ì¤„ ì•Œì•˜ë‹¤ ë²„ë¸”í‹°ê°™ì€ ë–¡ë³¶ì´ë‹¤ ë§¥ì£¼ë¥¼ ë¶€ë¥´ëŠ”...,"#ì¹˜í‚¨ë§¤ë‹ˆì•„, #í‘¸ë“œê°±_ë°°ë‹¬, #ë°°ë‹¬ë§›ì§‘, #ì¹˜í‚¨ë§›ì§‘, #ë–¡ë³¶ì´ë§›ì§‘, #ë°°ë‹¬ìŒì‹ì¶”ì²œ...",9,8,88.89,109,0.018409
2,ì¹˜í‚¨,bboong_bbang_2,ë¼ì§€ ì‚¬ë£Œ ì¼ì§€ 506 ì§€ì½”ë°” ì„±ì •ì ë¿¡ë¹µì“°ê°€ ìŠ¤íŠ¸ë ˆìŠ¤ ë°›ìœ¼ë©´ ì£¼ê¸°ì ìˆ˜í˜ˆí•˜ëŠ” ...,,0,0,0.00,109,0.018409
3,ì¹˜í‚¨,dhrkspths,ì–¼ë§ˆë‚˜ ë§›ìˆì—ˆìœ¼ë©´ í¬ì¥ê¹Œì§€ã„·ã„·ã„· ë²”ë§¥ì£¼ ì„,,0,0,0.00,9,0.001520
4,ì¹˜í‚¨,a_a_bl0s2om,ë…¸ë‘í†µë‹­ã†ã†ã† ëŒ€êµ¬ë§›ì§‘ ë¨¹ë°© instafood ìš”ë¦¬ìŠ¤íƒ€ê·¸ë¨ ìš”ë¦¬ ë§›ìŠ¤íƒ€...,"#ëŒ€êµ¬ë§›ì§‘, #ë¨¹ë°©, #instafood, #ìš”ë¦¬ìŠ¤íƒ€ê·¸ë¨, #ìš”ë¦¬, #ë§›ìŠ¤íƒ€ê·¸ë¨, ...",28,6,21.43,19,0.003209
...,...,...,...,...,...,...,...,...,...
1995,ì¹˜í‚¨,lee_hk79,ë…¼ì–´ ê³µë¶€ê°€ë˜ëŠ”ë…¼ì–´ì´ì•¼ê¸° ë°©í•™ë…ì„œ ì±…ì½ê¸°ìŠµê´€ ì±…ìŠ¤íƒ€ê·¸ë¨ ì±…ì¶”ì²œ ì•„ì´ë“¤ê³¼í•¨ê»˜...,"#ë…¼ì–´, #ê³µë¶€ê°€ë˜ëŠ”ë…¼ì–´ì´ì•¼ê¸°, #ë°©í•™ë…ì„œ, #ì±…ì½ê¸°ìŠµê´€, #ì±…ìŠ¤íƒ€ê·¸ë¨, #ì±…ì¶”ì²œ,...",29,4,13.79,41,0.006925
1996,ì¹˜í‚¨,stomach_endoscope,ì–´ë–»ê²Œ ë¼ë©´ì— ì£¼ë¨¹ë°¥ì´ íŒ”ì²œì›,,0,0,0.00,74,0.012498
1997,ì¹˜í‚¨,nolgoo,ì˜¤ëŠ˜ ë¨¹ì€ê±°ì†¥ë°¥ ë„˜ ë§›ë‚¬ë‹¹ìœ¤ì„ ë¹µê³¼ í•¨ê»˜ ì»¤í”ŒìŠ¤íƒ€ê·¸ë¨ ëŸ½ìŠ¤íƒ€ê·¸ë¨ ë¨¹ìŠ¤íƒ€ê·¸ë¨ ...,"#ì»¤í”ŒìŠ¤íƒ€ê·¸ë¨, #ëŸ½ìŠ¤íƒ€ê·¸ë¨, #ë¨¹ìŠ¤íƒ€ê·¸ë¨, #ì†¥ë°¥, #ë„ë¯¸ê´€ìì†¥ë°¥, #ì „ë³µì†¥ë°¥, ...",25,2,8.00,21,0.003547
1998,ì¹˜í‚¨,kimtaelee_092,ì—„ë§ˆë„ ì™¸ì¶œë‚˜ê°€ê³ ë™ìƒë„ ì¹­êµ¬ì§‘ ê°€ì„œ ë‚˜ í˜¼ì í˜¼ ì¹˜ ì¡°ì§€ê¸° ë¹ ì‚­ë¹ ì‚­ ì˜ íŠ€ê²¨ì¡Œ...,"#í˜¼ì¹˜í‚¨ğŸ—, #í˜¼ë°¥, #ì¹˜í‚¨ë§¤ë‹ˆì•„, #ë¨¹ëŠ”ê±°ì—ì§„ì‹¬ì¸í¸, #ì¡´ë§›íƒ±êµ¬ë¦¬, #ì¹˜í‚¨, #ì‚¬...",9,4,44.44,11,0.001858
1999,ì¹˜í‚¨,cheolin7_cw,ê³¨ë¼ì„œ ë¨¹ì„ìˆ˜ìˆëŠ” ì¬ë¯¸ ì² ì¸3ì¢…ì„¸íŠ¸ ìˆœì‚´ ì–‘ë… ê°„ì¥ í™ê°ˆ,,0,0,0.00,15,0.002533

In [335]:
# íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
result2=pd.read_csv("data/ì¹˜í‚¨(ê²Œì‹œê¸€ìˆ˜,íŒ”ë¡œì›Œìˆ˜).csv")
result2

                     ID  Post_num  Followers
0               z.e.o.m     236.0     8603.0
1      foodgangster_fgg     128.0     3360.0
2        bboong_bbang_2     741.0     6928.0
3             dhrkspths    2178.0    27000.0
4           a_a_bl0s2om     606.0     1020.0
...                 ...       ...        ...
1742     hongyoungjoo87     926.0       81.0
1743             m.m_zl      12.0       65.0
1744  stomach_endoscope    3949.0     1322.0
1745             nolgoo     831.0      212.0
1746      kimtaelee_092      39.0       41.0

[1747 rows x 3 columns]

In [336]:
result3 = pd.merge(result1, result2, on="ID", how='right')
result3

,Category,ID,Contents,Tags,Tags_sum,Tags_count,Tags_rate,Likes,Scaled_likes,Post_num,Followers
0,ì¹˜í‚¨,z.e.o.m,ë‘¥ê·¼í•´ ëŒ€ì‹ ì˜¬í•´ëŠ” ë™ê·¼ í•´ê°€ ë–´ìŠµë‹ˆë‹¤ ìš°ë™ì‚¬ë¦¬ì— ì¹˜ë°¥ê¹Œì§€ ì¹˜í‚¨ìœ¼ë¡œ í’€ì½”ìŠ¤ ì¦ê¸°...,"#ë™ê·¼ì´ìˆ¯ë¶ˆë‘ë§ˆë¦¬ì¹˜í‚¨, #ë™ê·¼ì´ìˆ¯ë¶ˆë‘ë§ˆë¦¬ì¹˜í‚¨, #ì¹˜í‚¨, #ì¹˜í‚¨ë§›ì§‘, #ë°°ë‹¬ì¹˜í‚¨, #...",11,12,109.09,1040,0.175646,236.0,8603.0
1,ì¹˜í‚¨,foodgangster_fgg,í˜‘ì°¬ ë–¡ë³¶ì´ì— íƒ€í”¼ì˜¤ì¹´ í„ ìŸì€ ì¤„ ì•Œì•˜ë‹¤ ë²„ë¸”í‹°ê°™ì€ ë–¡ë³¶ì´ë‹¤ ë§¥ì£¼ë¥¼ ë¶€ë¥´ëŠ”...,"#ì¹˜í‚¨ë§¤ë‹ˆì•„, #í‘¸ë“œê°±_ë°°ë‹¬, #ë°°ë‹¬ë§›ì§‘, #ì¹˜í‚¨ë§›ì§‘, #ë–¡ë³¶ì´ë§›ì§‘, #ë°°ë‹¬ìŒì‹ì¶”ì²œ...",9,8,88.89,109,0.018409,128.0,3360.0
2,ì¹˜í‚¨,bboong_bbang_2,ë¼ì§€ ì‚¬ë£Œ ì¼ì§€ 506 ì§€ì½”ë°” ì„±ì •ì ë¿¡ë¹µì“°ê°€ ìŠ¤íŠ¸ë ˆìŠ¤ ë°›ìœ¼ë©´ ì£¼ê¸°ì ìˆ˜í˜ˆí•˜ëŠ” ...,,0,0,0.00,109,0.018409,741.0,6928.0
3,ì¹˜í‚¨,dhrkspths,ì–¼ë§ˆë‚˜ ë§›ìˆì—ˆìœ¼ë©´ í¬ì¥ê¹Œì§€ã„·ã„·ã„· ë²”ë§¥ì£¼ ì„,,0,0,0.00,9,0.001520,2178.0,27000.0
4,ì¹˜í‚¨,a_a_bl0s2om,ë…¸ë‘í†µë‹­ã†ã†ã† ëŒ€êµ¬ë§›ì§‘ ë¨¹ë°© instafood ìš”ë¦¬ìŠ¤íƒ€ê·¸ë¨ ìš”ë¦¬ ë§›ìŠ¤íƒ€...,"#ëŒ€êµ¬ë§›ì§‘, #ë¨¹ë°©, #instafood, #ìš”ë¦¬ìŠ¤íƒ€ê·¸ë¨, #ìš”ë¦¬, #ë§›ìŠ¤íƒ€ê·¸ë¨, ...",28,6,21.43,19,0.003209,606.0,1020.0
...,...,...,...,...,...,...,...,...,...,...,...
1995,ì¹˜í‚¨,hongyoungjoo87,ì•„í”Œë• ì¹˜í‚¨ ì €ë… ì¹˜í‚¨,"#ì €ë…, #ì¹˜í‚¨",2,1,50.00,18,0.003040,926.0,81.0
1996,ì¹˜í‚¨,m.m_zl,ë‚®ê³¼ë°¤ ì–´ëŠí•˜ë‚˜ë„ ì•ˆì´ìœ ê³³ì´ ì—†ë– ã… ã…,,0,0,0.00,20,0.003378,12.0,65.0
1997,ì¹˜í‚¨,stomach_endoscope,ì–´ë–»ê²Œ ë¼ë©´ì— ì£¼ë¨¹ë°¥ì´ íŒ”ì²œì›,,0,0,0.00,74,0.012498,3949.0,1322.0
1998,ì¹˜í‚¨,nolgoo,ì˜¤ëŠ˜ ë¨¹ì€ê±°ì†¥ë°¥ ë„˜ ë§›ë‚¬ë‹¹ìœ¤ì„ ë¹µê³¼ í•¨ê»˜ ì»¤í”ŒìŠ¤íƒ€ê·¸ë¨ ëŸ½ìŠ¤íƒ€ê·¸ë¨ ë¨¹ìŠ¤íƒ€ê·¸ë¨ ...,"#ì»¤í”ŒìŠ¤íƒ€ê·¸ë¨, #ëŸ½ìŠ¤íƒ€ê·¸ë¨, #ë¨¹ìŠ¤íƒ€ê·¸ë¨, #ì†¥ë°¥, #ë„ë¯¸ê´€ìì†¥ë°¥, #ì „ë³µì†¥ë°¥, ...",25,2,8.00,21,0.003547,831.0,212.0
1999,ì¹˜í‚¨,kimtaelee_092,ì—„ë§ˆë„ ì™¸ì¶œë‚˜ê°€ê³ ë™ìƒë„ ì¹­êµ¬ì§‘ ê°€ì„œ ë‚˜ í˜¼ì í˜¼ ì¹˜ ì¡°ì§€ê¸° ë¹ ì‚­ë¹ ì‚­ ì˜ íŠ€ê²¨ì¡Œ...,"#í˜¼ì¹˜í‚¨ğŸ—, #í˜¼ë°¥, #ì¹˜í‚¨ë§¤ë‹ˆì•„, #ë¨¹ëŠ”ê±°ì—ì§„ì‹¬ì¸í¸, #ì¡´ë§›íƒ±êµ¬ë¦¬, #ì¹˜í‚¨, #ì‚¬...",9,4,44.44,11,0.001858,39.0,41.0

In [337]:
result3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      2000 non-null   object
 1   ID            2000 non-null   object
 2   Contents      2000 non-null   object
 3   Tags          2000 non-null   object
 4   Tags_sum      2000 non-null   int64
 5   Tags_count    2000 non-null   int64
 6   Tags_rate     2000 non-null   float64
 7   Likes         2000 non-null   int64
 8   Scaled_likes  2000 non-null   float64
 9   Post_num      2000 non-null   float64
 10  Followers     2000 non-null   float64
dtypes: float64(4), int64(3), object(4)
memory usage: 187.5+ KB

In [339]:
# ì €ì¥
result3.to_csv("data/ì¹˜í‚¨_R03.csv", encoding="utf-8", index=False)